<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    

       <!-- POP UP DOWNLOAD SKOS BRANCHE DEBUT -->


                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('popup.exp')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseBranchSkosFile" styleClass="cbClose" icon="ui-icon-fermer" actionListener="#{vue.setBranchToSkosFile(false)}"
                                             update=":panBranchToSkosFile" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <div style="padding: 10px;">
                    <h:outputText value="#{langueBean.getMsg('popup.alertSkos')}" /><br/><br/>
                    <h:form>
                        <p:commandButton value="#{langueBean.getMsg('down')}" styleClass="styleButton" ajax="false">
                            <p:fileDownload value="#{downloadBean.file}" />
                        </p:commandButton>
                    </h:form>
                </div>
        
</ui:composition>