<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <h:panelGroup id="conceptPopUp">
        <!-- POP UP Validate delete Branch of orhan -->
        <h:panelGroup id="delOrphan" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{conceptbean.deleteBranchOrphan != 0}" styleClass="overlay" />
            <h:panelGroup rendered="#{conceptbean.deleteBranchOrphan != 0}" styleClass="popUp" style="width: 280px;">
                <div id="titredelOrphan">
                    <h:outputText value="#{langueBean.getMsg('index.delOrphan')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbDelBranchOrhan" styleClass="cbClose" icon="ui-icon-fermer" 
                                             actionListener="#{conceptbean.setDeleteBranchOrphan(0)}" update=":delOrphan" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <!-- Message de validation de la suppression de la branche -->
                <h:panelGroup rendered="#{conceptbean.deleteBranchOrphan == 1}">
                    <fieldset>
                        <legend><h:outputText value="#{langueBean.getMsg('popup.delOrphan')}" /></legend>
                        <h:form>
                            <p:messages showDetail="true" autoUpdate="true" />
                            <table>
                                    <tr>
                                        
                                        <td><h:outputText value="#{selectedTerme.nom}  (#{selectedTerme.idC})" /></td>
                                        
                                        <td></td><td></td><td></td>
                                        <td>
                                            <h:form>
                                                <p:commandButton id="cbDelBranchOrhan" styleClass="cbSupp" icon="ui-icon-supp" update=":panContenu,:accordeonTree,:delOrphan"
                                                                 actionListener="#{treeBean.delOrphans()}">
                                                    <p:confirm header="#{langueBean.getMsg('confirm')}" message="#{langueBean.getMsg('popup.validDelOrphan')}" icon="ui-icon-alert" />  
                                                </p:commandButton>  

                                                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">  
                                                    <p:commandButton value="#{langueBean.getMsg('yes')}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>  
                                                    <p:commandButton value="#{langueBean.getMsg('no')}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>       
                                                </p:confirmDialog> 
                                            </h:form>
                                        </td>
                                    </tr>
    
                            </table>
                           
                        </h:form>
                    </fieldset>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- FIN  Orphan Branch -->

    </h:panelGroup>
</ui:composition>