<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Copyright</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    </h:head>
    <h:body>
        <div id="menuHead">
            <a href="index.xhtml">
                <div id="titre">
                    <img src="images/opentheso.png" style="width: 100px; margin-top: -10px; margin-right: -20px; margin-bottom: -25px;"/><br/>
                </div>
            </a>
            <div style="clear: both;"></div>
            <div id="onglets">
                <ul id="listeMenu"> 
                    <li id="itemMenu"><h:outputLink value="index.xhtml"><h:outputText value="#{langueBean.getMsg('theso')}" /></h:outputLink></li>
                    <li id="itemMenu"><h:outputLink rendered="#{user1.user.name != null}" value="gestCandidat.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div2')}" /></h:outputLink></li>
                    <li id="itemMenu"><h:outputLink rendered="#{user1.user.name != null}" value="conf.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div3')}" /></h:outputLink></li>
                    <li id="itemMenu"><h:outputLink rendered="#{user1.user.name != null}" value="edition.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div4')}" /></h:outputLink></li>
                </ul>
            </div><br/>
        </div>
        <div style="margin: auto; width: 1000px; margin-top: 100px;">
            
            Le thésaurus <b> <h:outputText value="#{theso.thisTheso.title}" /> </b> est accessible par webservices en : 
            <h:outputLink value="#{theso.cheminSite}webresources/application.wadl"> 
                <h:outputText value="REST" />
            </h:outputLink>
            <br/><br/>
            
            <h4>Exemples de fonctionnement du webservices :</h4>
                 
            <h4> JsonLd :</h4>

            Recherche par identifiant du concept :
            <br/>
            <h:outputLink value="#{theso.cheminSite}webresources/rest/jsonld/concept/id=#{selectedTerme.idC}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/jsonld/concept/id=#{selectedTerme.idC}&amp;th=#{selectedTerme.idTheso}" />
            </h:outputLink>            
            <br/>

            Recherche par identifiant Ark :
            <br/>
            <h:outputLink
                rendered="#{(selectedTerme.idArk != '') }" value="#{theso.cheminSite}webresources/rest/jsonld/ark:/#{theso.idNaan}/#{selectedTerme.idArk}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/jsonld/ark:/#{theso.idNaan}/#{selectedTerme.idArk}" />
            </h:outputLink>             

            <br/>
            Recherche par la valeur d'un concept :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/jsonld/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/jsonld/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink> 
            <br/><br/>
            
            
            Recherche par valeur et par groupe ou domaine :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/jsonld/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/jsonld/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink>

            <br/><br/>
            
            Récupération de tous les domaines d'un thésaurus :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/jsonld/concept/th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/jsonld/concept/th=#{selectedTerme.idTheso}"/>
            </h:outputLink>                
            
            
            <h4>SKOS :</h4> 
            
            Recherche par identifiant du Group ou Domaine :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/skos/concept/idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/concept/idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink>            
            <br/><br/>
            
            Recherche par identifiant du concept :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/skos/concept/id=#{selectedTerme.idC}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/concept/id=#{selectedTerme.idC}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink>              
            <br/><br/>
            
            Recherche par identifiant Ark :
            <br/>
            <h:outputLink
                rendered="#{(selectedTerme.idArk != '') }" value="#{theso.cheminSite}webresources/rest/skos/ark:/#{theso.idNaan}/#{selectedTerme.idArk}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/ark:/#{theso.idNaan}/#{selectedTerme.idArk}" />
            </h:outputLink> 
            <br/><br/>
            
            
            Recherche par valeur :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/skos/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink>             
            <br/><br/>

            Recherche par valeur et par groupe ou domaine :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/skos/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/concept/value=#{selectedTerme.nom}&amp;lang=#{selectedTerme.idlangue}&amp;idg=#{selectedTerme.idDomaine}&amp;th=#{selectedTerme.idTheso}"/>
            </h:outputLink>
            <br/><br/>
            
            Récupération de tous les domaines d'un thésaurus :
            <br/>
            <h:outputLink
                value="#{theso.cheminSite}webresources/rest/skos/concept/th=#{selectedTerme.idTheso}"> 
                <h:outputText value="#{theso.cheminSite}webresources/rest/skos/concept/th=#{selectedTerme.idTheso}"/>
            </h:outputLink>            
            
            <br/><br/>
            <br/><br/>
            
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            <br/>
            <span href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">PACTOLS</span> de
            <a href="http://www.frantiq.fr" property="cc:attributionName" rel="cc:attributionURL">FRANTIQ</a>
            est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les Mêmes Conditions 4.0 International</a>.
            <br/>
            Fondé(e) sur une œuvre à <a href="http://pactols.frantiq.fr" >http://pactols.frantiq.fr</a>.
            <br/>
            Les autorisations au-delà du champ de cette licence peuvent être obtenues à <a href="http://www.frantiq.fr" rel="cc:morePermissions">http://www.frantiq.fr</a>.
            <br/><br/>
            <br/><br/>
        </div>

    </h:body>
</html>
