<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets">

            <ui:include src="popUpIndex.xhtml" />
            <ui:include src="historique.xhtml" />
            <ui:include src="conceptPopUp.xhtml" />
            <ui:include src="dialogs/conceptEditDlg.xhtml" />
            <ui:include src="dialogs/notationEditDlg.xhtml" />
            <ui:include src="dialogs/conceptDeprecateDlg.xhtml" />
            <ui:include src="dialogs/conceptFusionDlg.xhtml" />
            <ui:include src="dialogs/conceptFusionValidationDlg.xhtml" />

            <ui:include src="dialogs/branch/sameGroup/conceptMoveBranchDlg.xhtml" />
            <ui:include src="dialogs/branch/sameGroup/conceptMoveBranchFromGroupDlg.xhtml" />
            <ui:include src="dialogs/branch/sameGroup/conceptMoveBranchToGroupDlg.xhtml" />


            <ui:include src="dialogs/branch/otherGroup/moveBranchFromTopTermToConceptOtherGroupDlg.xhtml" />            
            <ui:include src="dialogs/branch/otherGroup/moveBranchToConceptOtherGroupDlg.xhtml" />
            <ui:include src="dialogs/branch/otherGroup/moveBranchToGroupOfOtherGroupDlg.xhtml" />            


            <ui:include src="dialogs/orphan/moveBranchFromOrphanDlg.xhtml" />
            <ui:include src="dialogs/orphan/moveBranchFromOrphanToGroupDlg.xhtml" />
            <ui:include src="dialogs/orphan/regenerateOrphanDlg.xhtml" />
            <ui:include src="dialogs/nt/ntEditDlg.xhtml" />
            <ui:include src="dialogs/bt/addTgDlg.xhtml" />
            <ui:include src="dialogs/bt/addTgOtherGroupDlg.xhtml" />            
            <ui:include src="dialogs/bt/deleteTgDlg.xhtml" />
            <ui:include src="dialogs/group/addGroupDlg.xhtml" />

            <ui:include src="dialogs/notes/noteEditDlg.xhtml" />
            <ui:include src="dialogs/notes/definitionEditDlg.xhtml" />
            <ui:include src="dialogs/notes/notedApplicationEditDlg.xhtml" />
            <ui:include src="dialogs/notes/noteHistoriqueEditDlg.xhtml" />
            <ui:include src="dialogs/notes/noteEditorialeEditDlg.xhtml" />
            
            <ui:include src="dialogs/termeAssocies/termeAssocieEditDlg.xhtml"/>
            <ui:include src="dialogs/termeAssocies/termeAssociedeleteEditDlg.xhtml"/>
            
            <ui:include src="dialogs/termeSynonymes/termeSynonymesEditDlg.xhtml" />
            <ui:include src="dialogs/termeSynonymes/termeSynonymesDeleteEditDlg.xhtml" />
            <ui:include src="dialogs/termeSynonymes/termeSynonymesModifyEditDlg.xhtml" />
            <ui:include src="dialogs/termeSynonymes/modifySynonymesDlg.xhtml" />
            
            <ui:include src="dialogs/Alignement/ajouterManuelEditDlg.xhtml" />
            <ui:include src="dialogs/Alignement/ajouterAutomatiqueEditDlg.xhtml" />
            <ui:include src="dialogs/Alignement/ajouterAutomatique_suiteEditDlg.xhtml" />
            <ui:include src="dialogs/Alignement/suprimerEditlDlg.xhtml" />
            <ui:include src="dialogs/Alignement/editAlignementSourceEditDlg.xhtml"/>
            <ui:include src="dialogs/Alignement/ajouterParLot_suiteEditDlg.xhtml"/>
            <ui:include src="dialogs/Alignement/ajouterParLotEditDlg.xhtml"/>
                 
                 
            <ui:include src="dialogs/traductionDlg/ajouterTraductionEditDlg.xhtml" />
            <ui:include src='dialogs/traductionDlg/deleteTraductionEditDlg.xhtml' />
            <ui:include src="dialogs/traductionDlg/modifierTraductionEditDlg.xhtml" />
            <ui:include src="dialogs/traductionDlg/editTraductionDlg.xhtml" />
            
            <ui:include src="dialogs/facette/facetteEditlDlg.xhtml" />
            <ui:include src="dialogs/facette/addToFacetteDlg.xhtml" />            
            <ui:include src="dialogs/image/imageDlg.xhtml" />
            
            <ui:include src="dialogs/user/oublieMPEditDlg.xhtml"/>
            
            <ui:include src="dialogs/baseDeDonnes/miseAJourEditDlg.xhtml"/>
            
            <ui:include src="dialogs/gps/gpsEditDlg.xhtml"/>
            <ui:include src="dialogs/gps/gpsAutomatiqueEditDlg.xhtml"/>
            <ui:include src="dialogs/gps/gpsAutomatique_suiteEditDlg.xhtml"/>
            <ui:include src="dialogs/gps/gpsParLotEditDlg.xhtml"/>
            <ui:include src="dialogs/gps/gpsParLot_suiteEditDlg.xhtml"/>

</ui:composition>
