<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <ui:include src="link_et_script.xhtml"/> <!-- cette archive est dans la racine Web Pages -->
        <style type ="text/css">
            <!--
            a{text-decoration:none; color:green;}
            a:hover{color:black;}
            -->
        </style>
    </h:head>
    <!--<h:body style="background-image: url(./images/panda_roue.jpg)">-->
    <!--<h:body style="background-image: url(./images/panda_roue3.jpg)">-->
    <h:body>
        <f:metadata>
            <f:viewParam name="idc" value="#{theso.idCurl}"/>
            <f:viewParam name="idt" value="#{theso.idTurl}"/>
            <f:viewParam name="idg" value="#{theso.idGurl}"/>
            <f:event listener="#{theso.preRenderView}" type="preRenderView"/>
        </f:metadata>
        <ui:include src="metadata_et_commenteries.xhtml"/> <!-- cette archive est dans la racine Web Pages -->
        <div id="menuHead">
            <ui:include src="logo.xhtml" />
            <ui:include src="connection.xhtml" />
            <ui:include src="panChoixThesoetLangue.xhtml"/>  <!-- cette archive est dans la racine Web Pages -->
            <ui:include src="menuAll.xhtml" />  <!-- cette archive est dans la racine Web Pages -->
        </div>
        <center>
            <div id="clean" />
            <ui:include src="includes.xhtml"/>  <!-- cette archive d'include est dans la racine -->
            <!-- GESTIONNAIRE DEBUT -->  
            <div id="SplitterVertical1">
                <ui:include src="panelGauche/panelGauche.xhtml"/> <!-- cette archive est dans Web Pages/panelGauche  -->
                <div>
                    <div id="SplitterVertical2">
                        <div id="principale">
                            <!-- CONTENU CENTRAL DEBUT -->                             
                            <ui:include src="contenuCentral/contenuCentral.xhtml"/> <!-- cette archive est dans Web Pages/contenuCentral   -->
                            <div id="clean" ></div>
                        </div>
                        <div id="droite">
                            <div id="SplitterHorizDroit1">
                            <!-- PANEL DROITE -->
                            <ui:include src="panelDroite/panelDroite.xhtml"/>   <!-- cette archive est dans Web Pages/panelDroite  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><br/>
            <!-- GESTIONNAIRE FIN -->
            <ui:include src="gestionnaire/gestinnaireFin.xhtml"/> <!-- cette archive est dans Web Pages/gestoinnaire  -->
        </center>
        <ui:insert name="status">
            <p:ajaxStatus>
                <f:facet name="start">
                    <p:graphicImage id="iconeLoad" value="/images/loading.gif" width="200" />
                </f:facet>
                <f:facet name="complete">
                    <h:outputText value="" />
                </f:facet>
            </p:ajaxStatus>
        </ui:insert>
    </h:body>
</html>