<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:p="http://primefaces.org/ui">
        <title>
            <h:outputText  value="#{selectedTerme.nom}"/>
        </title>

        <link rel="icon" href="images/icoTheso.jpg" />
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" href="css/menu.css"/>
        <link rel="stylesheet" href="css/jqx.base.css" type="text/css" />
        <!--      <script type="text/javascript" src="javascript/jquery-1.10.2.min.js"></script> -->
        <script type="text/javascript" src="javascript/jqxcore.js"></script>
        <script type="text/javascript" src="javascript/jqxsplitter.js"></script>
        <script type="text/javascript" src="javascript/gettheme.js"></script>
        <script type="text/javascript" src="javascript/jqxscrollbar.js"></script>
        <script type="text/javascript" src="javascript/indexScript.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyAVQ2E-ri3ckNmHpHBU0K2ZQw7Ztl2RZgY" type="text/javascript"></script>

</ui:composition>