<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <div style="float: right;">
        <div id="help">
            <h:form>
                <p:commandButton value="?" onclick="PF('dlgHelp').show();" styleClass="styleButton"/>
            </h:form>
        </div>

        <div id="internationnal">
            <h:form class="iconePays">
                <p:commandButton icon="ui-icon-france" action="#{langueBean.changeLangue('fr')}" ajax="false" styleClass="cbSupp" />
            </h:form>
            <h:form class="iconePays">
                <p:commandButton icon="ui-icon-runi" action="#{langueBean.changeLangue('en')}" ajax="false" styleClass="cbSupp" />
            </h:form>
            <h:form class="iconePays">
                <p:commandButton icon="ui-icon-allemagne" action="#{langueBean.changeLangue('de')}" ajax="false" styleClass="cbSupp" />
            </h:form>
            <h:form class="iconePays">
                <p:commandButton icon="ui-icon-espagne" action="#{langueBean.changeLangue('es')}" ajax="false" styleClass="cbSupp" />
            </h:form>
            <h:form class="iconePays">
                <p:commandButton icon="ui-icon-italie" action="#{langueBean.changeLangue('it')}" ajax="false" styleClass="cbSupp" />
            </h:form>
        </div>
    </div>
    <div>
        <p:messages id="messages" showDetail="true" autoUpdate="true" style="listes"/>
    </div>
     <p:panel id="panelMenu"  styleClass="panelNoBorder"> 
    <div style="clear: both;"></div>
 
        <div id="onglets">
                 
            <ul id="listeMenu" style="alignment-adjust: central"> 
                <li id="itemMenu"><h:outputLink value="index.xhtml"><h:outputText value="#{langueBean.getMsg('theso')}"/></h:outputLink></li>
                <li id="itemMenu"><h:outputLink rendered="#{(user1.user.name != null) and (user1.isHaveWriteToCurrentThesaurus2)}" value="gestCandidat.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div2')}" /></h:outputLink></li>
                <li id="itemMenu"><h:outputLink rendered="#{(user1.user.name != null) and (user1.isHaveWriteToCurrentThesaurus2)}" value="conf.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div3')}" /></h:outputLink></li>
                
                <li id="itemMenu"><h:outputLink rendered="#{ ((user1.user.name != null) and (user1.haveRights(2)) ) or (user1.haveRights(1))}" value="edition.xhtml"><h:outputText value="#{langueBean.getMsg('menu.div4')}" /></h:outputLink></li>
                <li id="itemMenu"><h:outputLink rendered="#{(user1.user.name != null) and (user1.haveRights(2)) and (user1.isHaveWriteToCurrentThesaurus2)}" value="statistic.xhtml"><h:outputText value="Statistiques" /></h:outputLink></li>
            </ul>   
        </div>
</p:panel>
 
</ui:composition>