<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <h:panelGroup id="panPopUp">
        <!-- POP UP DOMAINE DEBUT -->
        <h:panelGroup id="ajGroup" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{vue.selectedActionDom != 0}" styleClass="overlay" />
            <h:panelGroup rendered="#{vue.selectedActionDom != 0}" styleClass="popUp" style="width: 250px;">
                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('index.btnMT')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseGroup" styleClass="cbClose" icon="ui-icon-fermer" 
                                             actionListener="#{vue.setSelectedActionDom(0)}" update=":ajGroup" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <!-- Ajout d'un domaine -->
                <h:panelGroup rendered="#{vue.selectedActionDom == 1}">
                    <fieldset>
                        <legend><h:outputText value="#{langueBean.getMsg('group.add')}" /></legend>
                        <h:form>
                            <p:messages showDetail="true" autoUpdate="true" />
                            <table>
                                <tr>
                                    <td><h:outputText value="#{langueBean.getMsg('popup.name')}" /> : </td>
                                    <td>
                                        <h:inputText id="lVDom" value="#{theso.nodeCG.lexicalValue}"/>
                                    </td>
                                </tr>           
                            </table>
                            <br/>
                            <p:commandButton id="cbAjGroupTheso" value="#{langueBean.getMsg('btnAdd')}" actionListener="#{theso.ajouterDomaine()}" 
                                             update=":ajGroup,:accordeonTree" styleClass="styleButton"/>
                        </h:form>
                    </fieldset>
                </h:panelGroup>
                

                <!-- Supprimer un domaine -->
                <h:panelGroup rendered="#{vue.selectedActionDom == 2}">
                    <fieldset>
                        <legend><h:outputText value="#{langueBean.getMsg('group.delete')}" /></legend>
                        <h:form>
                            <p:messages showDetail="true" autoUpdate="true" />
                            <table>
                                <tr>
                                    <td><h:outputText value="#{langueBean.getMsg('popup.name')}" /> : </td>
                                    <td>
                                        <h:inputText id="lVDom" value="#{theso.nodeCG.lexicalValue}"/>
                                    </td>
                                </tr>           
                            </table>
                            <br/>
                            <p:commandButton id="cbAjGroupTheso" value="#{langueBean.getMsg('btnAdd')}" actionListener="#{theso.ajouterDomaine()}" 
                                             update=":ajGroup,:accordeonTree" styleClass="styleButton"/>
                        </h:form>
                    </fieldset>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- POP UP regenerate Orphan -->      


        <!-- POP UP TERMES GENERIQUES DEBUT -->

        <!-- POP UP TERMES GENERIQUES FIN -->

        <!-- POP UP TERMES SPECIFIQUES DEBUT -->
 
        <!-- POP UP TERMES SPECIFIQUES FIN -->

        <!-- POP UP TERMES ASSOCIES DEBUT -->

                <!-- suppression relation -->

        <!-- POP UP TERMES ASSOCIES FIN --> 

        <!-- POP UP TERMES SYNONYMES DEBUT -->

        <!-- POP UP TERMES SYNONYMES FIN -->

        <!-- POP UP NOTE DEBUT -->
        <h:panelGroup id="panEditNote" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{vue.addNote != 0}" styleClass="overlay" />
            <h:panelGroup rendered="#{vue.addNote != 0}" styleClass="popUp">
                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('index.note')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseNote" styleClass="cbClose" icon="ui-icon-fermer" actionListener="#{vue.setAddNote(0)}" 
                                             update=":panEditNote" />
                        </h:form>
                    </div>
                </div>
                <br/>

            </h:panelGroup>
        </h:panelGroup>
        <!-- POP UP NOTE FIN -->

        <!-- POP UP ALIGNEMENT DEBUT -->

        <!-- POP UP ALIGNEMENT FIN -->

        <!-- POP UP IMAGE DEBUT -->

        <!-- POP UP IMAGE FIN -->

        <!-- POP UP FACETTE1 DEBUT -->
        
        <!-- POP UP FACETTE1 FIN -->

        <!-- POP UP FACETTE2 DEBUT -->

        <!-- POP UP FACETTE2 FIN -->

        <!-- POP UP TRADUCTION DEBUT -->

                <!-- Ajoute de traduction -->

                <!-- Suppression de traduction-->
        <!-- POP UP TRADUCTION FIN -->
        <!-- POP UP SKOS CONCEPT DEBUT -->
        <h:panelGroup id="panCptToSkos" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{vue.cptToSkos == true}" styleClass="overlay" />
            <h:panelGroup rendered="#{vue.cptToSkos == true}" styleClass="popUp">
                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('popup.exp')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseCptSkos" styleClass="cbClose" icon="ui-icon-fermer" actionListener="#{vue.setCptToSkos(false)}"
                                             update=":panCptToSkos" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <h:panelGroup rendered="#{selectedTerme.type != 1}">
                    <div id="textSelectCpt" onclick="selectText('thistext1')" style="padding: 5px; text-align: left; max-height: 400px; width: 550px; overflow: auto;">
                        <pre>
                            <h:outputText id="thistext1" value="#{downloadBean.conceptSkos(selectedTerme.idC, selectedTerme.idTheso).trim()}" />
                        </pre>
                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{selectedTerme.type == 1}">
                    <div id="textSelectCpt" onclick="selectText('thistext2')" style="padding: 5px; text-align: left; max-height: 400px; width: 550px; overflow: auto;">
                        <pre>
                            <h:outputText id="thistext2" value="#{downloadBean.groupSkos(selectedTerme.idDomaine, selectedTerme.idTheso).trim()}" />
                        </pre>
                    </div>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- POP UP SKOS CONCEPT FIN -->

        <!-- POP UP SKOS BRANCHE DEBUT -->
        <h:panelGroup id="panBranchToSkos" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{vue.branchToSkos == true}" styleClass="overlay" />
            <h:panelGroup rendered="#{vue.branchToSkos == true}" styleClass="popUp">
                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('popup.exp')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseBranchSkos" styleClass="cbClose" icon="ui-icon-fermer" actionListener="#{vue.setBranchToSkos(false)}"
                                             update=":panBranchToSkos" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <div id="textSelectBranch" onclick="selectText('thistext3')"  style="padding: 5px; text-align: left; max-height: 400px; width: 550px; overflow: auto;">
                    <pre>
                        <h:outputText id="thistext3" value="#{downloadBean.skos.trim()}" />
                    </pre>
                </div>
            </h:panelGroup>
        </h:panelGroup>
        <!-- POP UP SKOS BRANCHE FIN -->

        <!-- POP UP DOWNLOAD SKOS BRANCHE DEBUT -->
        <h:panelGroup id="panBranchToSkosFile" style="background: transparent; box-shadow: none;">
            <h:panelGroup rendered="#{vue.branchToSkosFile == true}" styleClass="overlay" />
            <h:panelGroup rendered="#{vue.branchToSkosFile == true}" styleClass="popUp">
                <div id="titreAllEdit">
                    <h:outputText value="#{langueBean.getMsg('popup.exp')}" />
                    <div id="divClose">
                        <h:form>
                            <p:commandButton id="cbCloseBranchSkosFile" styleClass="cbClose" icon="ui-icon-fermer" actionListener="#{vue.setBranchToSkosFile(false)}"
                                             update=":panBranchToSkosFile" />
                        </h:form>
                    </div>
                </div>
                <br/>
                <div style="padding: 10px;">
                    <h:outputText value="#{langueBean.getMsg('popup.alertSkos')}" /><br/><br/>
                      <h:form>
                        <p:commandButton value="#{langueBean.getMsg('down')}" styleClass="styleButton" ajax="false">
                            <p:fileDownload value="#{downloadBean.file}" />
                        </p:commandButton>
                    </h:form>
                </div>
            </h:panelGroup>
        </h:panelGroup>
        <!-- POP UP DOWNLOAD SKOS BRANCHE FIN -->
    </h:panelGroup>
</ui:composition>