<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">
        
    <div id="divGenerale">
        <div class="titreAssocie">
            <h:outputText value="#{langueBean.getMsg('index.RT')}" rendered="#{(treeBean.browserName != 'agent')}" /> 
            <div id="imageEdition">
                <h:form id="formEditTAsso"
                        rendered="#{(user1.user.name != null) and (selectedTerme.idC != null) and (user1.haveRights(2) and (user1.isHaveWriteToCurrentThesaurus) and (selectedTerme.idDomaine != 'Orphan'))}">
                    <p:commandButton id="dynaButtonTAsso" rendered="#{selectedTerme.type != 1}" styleClass="cbEdit" icon="ui-icon-edit"/>
                    <p:menu style="background: #CEF0C4" overlay="true" trigger="dynaButtonTAsso" my="left top" at="left bottom">
                         <p:menuitem value="#{langueBean.getMsg('popup.addRel')}" update=":idTermeAssocieEditDlg" oncomplete="PF('termeAssocieEditDlg').show();" style="font-size: 12px;"/>
                         <p:menuitem value="#{langueBean.getMsg('popup.delRel')}" update=":idTermeAssociedeleteEditDlg" oncomplete="PF('termeAssociedeleteEditDlg').show();" style="font-size: 12px;"/>
                    </p:menu>
                </h:form>
            </div>
        </div>
        <!-- Termes Associes -->
        <div class="contenuAssocie">
            <h:panelGroup  id="asso" > <!--rendered="{(treeBean.browserName != 'agent')}"> -->
            	<p>test asso</p>
                <ui:repeat value="#{selectedTerme.termesAssocies}" var="item2">
                    <h:form>
                        <p:commandButton styleClass="termClick" rendered="#{item2.value != ''}" value="#{item2.value}" escape="false"
                                         actionListener="#{treeBean.changeTerme(item2.key, 0)}" 
                                         update=":accordeonTree,:panContenu,:contenuDroite1,:contenuDroite2,:contenuDroite3" />
                        <p:commandButton styleClass="termClick" rendered="#{item2.value == ''}" value="#{item2.key}" escape="false"
                                         actionListener="#{treeBean.changeTerme(item2.key, 0)}" 
                                         update=":accordeonTree,:panContenu,:contenuDroite1,:contenuDroite2,:contenuDroite3" />
                    </h:form>
                </ui:repeat>
            
            </h:panelGroup>
        </div>
        <!-- Fin Termes Associes -->
    </div>
</ui:composition>