<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog header="#{langueBean.getMsg('index.depreciateCpt')}" widgetVar="conceptDeprecateDlg" modal="true" resizable="false">
        <!-- Cas de la désactivation du concept Deprecated -->
        <h:form>
            <p:messages showDetail="true" autoUpdate="true" />
            <h:outputText escape="false" value="#{langueBean.getMsg('popup.validFusion')}" /><br/><br/>
            <table>
               <tr>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton id="cbLoadCptFu" title="#{langueBean.getMsg('btnOk')}" icon="ui-icon-valider" actionListener="#{treeBean.desactivateConcept()}" 
                                         update=":panPopUp,:accordeonTree,:panContenu,:contenuDroite1,:contenuDroite2,:contenuDroite3" styleClass="styleButton"
                                         oncomplete="PF('conceptDeprecateDlg').hide();" >
                        </p:commandButton>
                    </td>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton title="Cancel" icon="ui-icon-retour"
                                         onclick="PF('conceptDeprecateDlg').disable()();"  immediate="true"/>
                    </td>
                   
                </tr>
            </table>
        </h:form>
    </p:dialog>
</ui:composition>