<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idNotationEditDlg"  header="#{langueBean.getMsg('editNotation')}" widgetVar="notationEditDlg" modal="true" resizable="false" >
        <!-- Cas de la modification du nom du terme -->
        <h:form >
            <p:messages showDetail="true" autoUpdate="true" />
            <table>
                <tr>
                    <td colspan="2" style="text-align: center;"><h:outputText id="valueTerme" escape="false" value="#{selectedTerme.nom}" /></td>
                </tr>

                <tr>
                    <td>
                        <h:outputText value="Notation" /> 
                    </td>
                    <td>
                        <h:inputText id="notation" value="#{selectedTerme.notation}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton id="cbEditNomT" icon="ui-icon-valider" title="#{langueBean.getMsg('editNotation')}" actionListener="#{treeBean.editNotation}" 
                                         update=":idNotationEditDlg,:accordeonTree,:panContenu" styleClass="styleButton"
                                         oncomplete="PF('notationEditDlg').hide();"/>
                    </td>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton title="Cancel" icon="ui-icon-retour" styleClass="styleButton" update=":idNotationEditDlg" oncomplete="PF('notationEditDlg').hide();"  immediate="true"/>
                    </td>
                </tr>
            </table>
        </h:form>
    </p:dialog>
    
</ui:composition>