<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">


    <div id="divGenerale">
        <div class="titreGps">
            <h:outputText value="#{langueBean.getMsg('gps.nom')}" />  
            <div id="imageEdition">
                <h:form id="formEditGps"  
                        rendered="#{(user1.user.name != null) and (selectedTerme.idC != null) and (user1.haveRights(2)) and 
                                    (user1.isHaveWriteToCurrentThesaurus) and (selectedTerme.status != 'hidden') 
                                    and (selectedTerme.idDomaine != 'Orphan')}">
                    <p:commandButton id="buttonParamAlign" title="Paramètre de l'alignement source" actionListener="#{editAlignement.setListeAlignementSources(theso.thesaurus.id_thesaurus)}"
                                     update=":idEditAlignementSourceEditDlg" oncomplete="PF('editAlignementSourceEditDlg').show()" 
                                     styleClass="cbEdit" 
                                     icon="ui-icon-parametre" >
                    </p:commandButton>
                    <p:commandButton id="dynaButtonGps" rendered="#{selectedTerme.type != 1}" 
                                     styleClass="cbEdit" icon="ui-icon-edit" >
                        <p:menu style="background: #CEF0C4" overlay="true" trigger="dynaButtonGps" my="left top" at="left bottom">
                            <p:menuitem value="#{langueBean.getMsg('gps.nom')}"  actionListener="#{gps.getCoordinatesGps(selectedTerme.idC, selectedTerme.idTheso)}" update=":idGpsEditDlg" oncomplete="PF('gpsEditDlg').show();" style="font-size: 12px;"/>
                            
                            <p:menuitem value="#{langueBean.getMsg('index.alignBtn2')}" actionListener="#{gps.setListeAlignementSources1(selectedTerme.idTheso, user1.user.id)}" 
                                        update=":idGpsAutomatiqueEditDlg" oncomplete="PF('gpsAutomatiqueEditDlg').show()" style="font-size: 12px;"/>
                            
                            <p:menuitem value="#{langueBean.getMsg('alig.PLnom')}" actionListener="#{gps.setListeAlignementSources1(selectedTerme.idTheso,user1.user.id)}" 
                                        action="#{gps.getListChildren(selectedTerme.idTheso, selectedTerme.idC, selectedTerme.idlangue, user1.user.id )}"
                                        update=":idGpsParLotEditDlg" oncomplete="PF('gpsParLotEditDlg').show()" style="font-size: 12px;"/>
                        </p:menu>
                    </p:commandButton>    
                </h:form>
            </div>
        </div>


        <h:form rendered="#{theso.internetConection}">
            <h:panelGroup id="gpsMaps" rendered="#{selectedTerme.latitudLongitud !=null}">
                <div>
                    <p:gmap  id="gmap" center="#{selectedTerme.latitudLongitud}"  zoom="10" type="HYBRID" style="width:100%;height:200px" />
                </div>
            </h:panelGroup>
        </h:form>
    </div>

</ui:composition>