<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idNtEditDlg"  header="#{langueBean.getMsg('index.NT')}" widgetVar="ntEditDlg" modal="true" resizable="false" >
        <!-- Cas de la modification du nom du terme -->
        <h:form >
        <p:messages showDetail="true" autoUpdate="true" />
            <fieldset>
                <legend><h:outputText value="#{langueBean.getMsg('popup.addNewTerm')} #{treeBean.selectedTerme.nom}" /></legend>
                <h:form>
                    <table>
                        <tr>
                            <td colspan="2" style="text-align: left; color: green; font-style: oblique " ><h:outputText id="valueTerme" escape="false" value="#{selectedTerme.nom}" /></td>
                        </tr>                          
                        <tr>
                            <td><h:outputText value="#{langueBean.getMsg('popup.name')}" /> : </td>
                            <td>
                                <p:autoComplete id="lVTSpe" value="#{selectedTerme.selectedTermComp}" completeMethod="#{autoComp.completTerm}" var="t1"
                                                forceSelection="false" active="true"  queryDelay="1000"
                                                itemLabel="#{t1.termLexicalValue}" itemValue="#{t1}" converter="termConverterLexical">

                                    <f:facet name="itemtip">
                                        <h:panelGrid columns="2" cellpadding="5" width="200" >
                                            <f:facet name="header" rendered="#{(t1.url) != null}">
                                                <h:outputText value="ID : " />
                                                <h:outputText value="#{t1.idConcept}" />
                                            </f:facet>

                                            <h:outputText value="#{langueBean.getMsg('autoComp1')} : " />
                                            <h:outputText value="#{t1.groupLexicalValue}" />

                                            <h:outputText value="#{langueBean.getMsg('autoComp2')} : " />
                                            <h:outputText value="#{t1.definition}" />
                                        </h:panelGrid>
                                    </f:facet>
                                </p:autoComplete>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <h:form>
                                    <p:commandButton id="cbAjTSpe" value="#{langueBean.getMsg('btnAdd')}" actionListener="#{treeBean.newTSpe()}" 
                                                     update=":idNtEditDlg,:accordeonTree,:panContenu" styleClass="styleButton"
                                                     oncomplete="PF('ntEditDlg').hide();">
                                    </p:commandButton>  
                           </h:form>

                            </td>
                        </tr>
                    </table>
                </h:form>
            </fieldset>
        </h:form>
    </p:dialog>
</ui:composition>