<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idDeleteTgDlg"  header="#{langueBean.getMsg('panel.delTG')}" widgetVar="deleteTgDlg" modal="true" resizable="false" >
        <!-- Cas d'ajout d'un terme générique au concept -->
        <fieldset style="overflow-y: auto">
            <legend><h:outputText value="#{langueBean.getMsg('popup.delRel')}" /></legend>
            <table id="tableRelations">
                <tr>
                    <th><h:outputText value="#{langueBean.getMsg('popup.terms')}" /></th>
                    <th></th>
                </tr>
                <ui:repeat value="#{selectedTerme.termeGenerique}" var="item0">
                    <tr>
                        <td><h:outputText value="#{item0.value} (#{item0.key})" /></td>
                        <td>
                            <h:form>
                                <p:commandButton id="cbSuppTradTheso" styleClass="cbSupp" icon="ui-icon-supp" update=":panContenu,:accordeonTree,:idDeleteTgDlg"
                                                 actionListener="#{treeBean.suppRel(item0.key, 0)}">
                                    <p:confirm header="#{langueBean.getMsg('confirm')}" message="#{langueBean.getMsg('popup.valid1')}" icon="ui-icon-alert" />  
                                </p:commandButton>  

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">  
                                    <p:commandButton value="#{langueBean.getMsg('yes')}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>  
                                    <p:commandButton value="#{langueBean.getMsg('no')}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>       
                                </p:confirmDialog> 
                            </h:form>
                        </td>
                    </tr>
                </ui:repeat>
            </table>
        </fieldset>
    </p:dialog>
</ui:composition>