<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    
    
            <!--TRADUCTION DEBUT -->
    <ui:include src="traduction/traduction.xhtml"/>                              
    <div>
        <div id="SplitterHorizDroit2">
            <!--FACETTE DEBUT -->
            <ui:include src="facette/facette.xhtml"/>
            <!--IMAGE DEBUT -->
            <ui:include src="image/image.xhtml"/>
            <!--IMAGES FIN -->
        </div>
    </div>
</ui:composition>