<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:p="http://primefaces.org/ui">
    <div id="rapidAccess" align="center" >
        <table>
            <tr>
                <td>
                    <h:form >
                        <p:autoComplete id="nomTerme" value="#{selectedTerme.selectedTermComp}" completeMethod="#{autoComp.completTerm}" var="t1"
                                        minQueryLength="3" itemLabel="#{t1.termLexicalValue}" itemValue="#{t1}" converter="termConverter"
                                        a:placeholder="#{langueBean.getMsg('index.search')}" >

                            <p:ajax event="itemSelect" listener="#{treeBean.majIndexRapidSearch()}" 
                                    update=":accordeonTree,:panContenu,:note,:contenuDroite1,:contenuDroite2,:contenuDroite3, :accordeonTree:panelTree" 
                                    />
                        </p:autoComplete>
                    </h:form></td>
                <!-- gestion des domaines ou groupes --> 
                <td>
                    <h:form id="formAjDom" rendered="#{(user1.user.name != null) and (user1.haveRights(2)) and (user1.isHaveWriteToCurrentThesaurus) and (theso.getThisTheso() != null)}">
                        <p:commandButton id="cbAjDom" styleClass="cbEdit" icon="ui-icon-edit" title="Tools"/>
                        <p:menu style="background: #CEF0C4" overlay="true" trigger="cbAjDom" my="left top" at="left bottom">

                            <p:menuitem value="#{langueBean.getMsg('group.add')}" update=":idGroupAddDlg" oncomplete="PF('groupAddDlg').show();" style="font-size: 12px;"/>
                        </p:menu>
                    </h:form>
                </td>
            </tr>
        </table>

    </div>
</ui:composition>