<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:a="http://xmlns.jcp.org/jsf/passthrough">


    <p:dialog id="idGpsParLot_suiteDlg"  header="#{langueBean.getMsg('index.alignBtn1')}" widgetVar="gpsParLot_suiteDlg" modal="true" resizable="false" >
        <!-- Ajouter alignement automatique -->
        <h:form rendered="#{!gps.fin}">
            <p:layout style="min-width:800px;min-height:400px; max-width:800px; max-height:400px" >
                <p:layoutUnit position="west" resizable="false" size="400" minSize="400" maxSize="550">
                    <table>

                        <tr>
                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                <p:outputLabel for="RadioGps" />
                                <p:selectOneRadio id="RadioGps" value="#{gps.codeid}"  layout="grid" columns="1">
                                    <f:selectItems value="#{gps.listAlignValues}" var="c" itemLabel="#{c.name}, #{c.toponymName}, #{c.countryName}" itemValue="#{c.idUrl}" />
                                </p:selectOneRadio>
                            </h:panelGrid>
                        </tr>

                    </table>

                </p:layoutUnit>

                <p:layoutUnit position="center" resizable="false" size="250" minSize="250" maxSize="250">

                    Choix des alignements pour le concept '<h:outputText rendered="#{alignementparlot.first}" 
                                                                         value="#{gps.nomduterm}'" style="text-decoration: underline"/> :
                    <h:outputText rendered="#{!gps.first}" 
                                  value="#{gps.nomduterm}'" />  
                    <br/><br/>


                    <h:selectOneMenu value="#{gps.alignement_id_type}" styleClass="listes" style="width: 150px;">
                        <f:selectItems value="#{selectedTerme.allALignType}" var="tt" itemLabel="#{tt.value}" itemValue="#{tt.key}" />
                    </h:selectOneMenu><br/><br/>

                    <p:commandButton id="finAllAlignAuto" value="#{langueBean.getMsg('alig.fin')}" actionListener="#{gps.reinitTotal()}"
                                     action="#{gps.enregister_Des_Progres(user1.user.id)}"
                                     update=":panContenu" styleClass="styleButton" oncomplete="PF('gpsParLot_suiteDlg.hide()';"  />

                    <p:commandButton rendered="#{!gps.fin}" id="ajouterAllAlignAuto" value="#{langueBean.getMsg('conf.btnValid')}" 
                                     action="#{gps.doForLot(user1.user.id)}"
                                     update="idGpsParLot_suiteDlg" 
                                     oncomplete="PF('gpsParLot_suiteDlg').show();" styleClass="styleButton" />

                    <p:commandButton rendered="#{!gps.last}" id="proxAllAlignAuto" value="#{langueBean.getMsg('alig.sui')}"  
                                     actionListener="#{gps.nextPosition()}"
                                     update="idGpsParLot_suiteDlg" oncomplete="PF('gpsParLot_suiteDlg').show();"
                                     styleClass="styleButton"  />

                    <br/><br/><br/><br/><br/>
                    <h:outputText value="#{alignementparlot.erreur}" style="color: red" />
                    <h:outputText value="#{alignementparlot.message}" style="color: green" escape="false"/>
                </p:layoutUnit>

            </p:layout>
        </h:form>
        <h:form rendered="#{alignementparlot.fin}">
            <br/><br/>
            <p:commandButton id="finAllAlignAutoFin" value="fini" actionListener="#{gps.reinitTotal()}"
                             action="#{gps.enregister_Des_Progres(user1.user.id)}"
                             update=":panContenu" styleClass="styleButton" oncomplete="PF('gpsParLot_suiteDlg.hide()';"  />
            <br/><br/>
            <h:outputText value="#{alignementparlot.erreur}" style="color: red" />
            <h:outputText value="#{alignementparlot.message}" style="color: green" escape="false"/>
        </h:form>
    </p:dialog>
</ui:composition>