<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idGpsParLotEditDlg"  header="#{langueBean.getMsg('gps.nom')}" widgetVar="gpsParLotEditDlg" modal="true" resizable="false" >

        <h:form>
            <h:panelGroup id="parLot">
                <p:layout style="min-width:700px;min-height:300px; max-width:700px; max-height:300px" >
                    <p:layoutUnit position="north" size="45" resizable="false" maxSize="45"  >
                        <h:outputText value=" #{langueBean.getMsg('alig.bran')} "/>
                        <h:outputText value= "#{selectedTerme.nom}" style="font-weight: bold"/> 
                        <h:outputText value= " #{langueBean.getMsg('alig.cnt')}" />
                        <h:outputText value= "#{gps.listOfChildrenInConcept.size()} " style="font-weight: bold" />
                        <h:outputText value="#{langueBean.getMsg('alig.concept')}."/>     
                    </p:layoutUnit>
                    <p:layoutUnit position="west" resizable="false" size="300" minSize="200" maxSize="300">
                        <h:outputText value="#{langueBean.getMsg('alig.metho')} "/>
                        <p:commandButton id="imageBtn" styleClass="cbEdit" icon="ui-icon-question"  />
                        <p:overlayPanel id="imagePanel" for="imageBtn" hideEffect="fade">
                            <h:outputText value="#{langueBean.getMsg('alig.expl1')}" /><br/>
                            <h:outputText value="#{langueBean.getMsg('alig.expl2')}" /><br/>
                            <h:outputText value="#{langueBean.getMsg('alig.expl3')}" /><br/>
                        </p:overlayPanel>
                        <br/>
                        <hr/>
                        <br/>
                        <center>
                            <p:selectOneRadio id="city" value="#{gps.optionOfAlignement}"  layout="grid" columns="1">
                                <f:selectItems value="#{gps.options.entrySet()}" var="c" itemLabel="#{c.value}" itemValue="#{c.key}" />

                            </p:selectOneRadio>
                        </center>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" resizable="false" size="400" minSize="250" maxSize="400">
                        <h:outputText value="#{langueBean.getMsg('file.info1.2')}:" /><br/>
                        <hr/>
                        <br/>
                        <h:panelGrid columns="2">
                            <p:selectOneRadio id="alignementSources"  value="#{gps.selectedAlignement}" layout="grid" columns="1">
                                <f:selectItems value="#{gps.alignementSources}" var="alig" itemLabel="#{alig.source}" itemValue="#{alig.source}"/>
                                <p:ajax   listener="#{gps.recuperatePreferences}"  update="parLot"/>
                            </p:selectOneRadio>
                        </h:panelGrid>
                        <hr/>
                        <table>
                            <tr>
                                <td>
                                    <h:outputText value="Intégrer Traduction"/>
                                </td>
                                <td>
                                    <p:selectBooleanCheckbox value="#{gps.integrerTraduction}" /><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputText value="Remplacer Traduction"/>
                                </td>
                                <td>
                                    <p:selectBooleanCheckbox value="#{gps.reemplacerTraduction}" /><br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h:outputText value="Alignement Automatique"/>
                                </td>
                                <td>
                                    <p:selectBooleanCheckbox value="#{gps.alignementAutomatique}" /><br/>
                                </td>
                            </tr>
                        </table>
                        <Br/>
                    </p:layoutUnit>
                </p:layout>
                <p:commandButton id="cbAjAlignAuto" value="#{langueBean.getMsg('conf.btnValid')}" 
                                 actionListener="#{gps.validateParamretagesGps(selectedTerme.idTheso, selectedTerme.idlangue, user1.user.id)}"
                                 action="#{gps.getPreliereElement(selectedTerme.idC, selectedTerme.idTheso, selectedTerme.idlangue, user1.user.id)}"
                                 styleClass="styleButton"  
                                 update=":idGpsParLot_suiteDlg" oncomplete="PF('gpsParLot_suiteDlg').show(); PF('gpsParLotEditDlg').hide();"/>
            </h:panelGroup>
        </h:form>

    </p:dialog>
</ui:composition>