<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idGroupAddDlg"  header="#{langueBean.getMsg('group.add')}" widgetVar="groupAddDlg" modal="true" resizable="false" >
        <!-- Ajout d'un domaine/ group -->
        <h:form >
            <p:messages showDetail="true" autoUpdate="true" />
            <table>
                <tr>
                    <td><h:outputText value="#{langueBean.getMsg('popup.name')}" /> : </td>
                    <td>
                        <h:inputText id="lVDom" value="#{theso.nodeCG.lexicalValue}"/>
                    </td>
                </tr>           
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton id="cbAjGroupTheso" value="#{langueBean.getMsg('btnAdd')}" actionListener="#{theso.ajouterDomaine()}" 
                                         update=":ajGroup,:accordeonTree" styleClass="styleButton"
                                         oncomplete="PF('groupAddDlg').hide();"/>

                    </td>
                    <td colspan="3" style="text-align: center;">
                        <p:commandButton title="Cancel" icon="ui-icon-retour" styleClass="styleButton" update=":idGroupAddDlg" oncomplete="PF('groupAddDlg').hide();"  immediate="true"/>
                    </td>
                </tr>
            </table>
        </h:form>
    </p:dialog>
</ui:composition>
