<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <p:dialog id="idAjouterParLotEditDlg"  header="#{langueBean.getMsg('alig.PLnom')} " widgetVar="ajouterParLotEditDlg" modal="true" resizable="false" >
        <!-- Ajouter alignement automatique 
        Cette function appelarais a  AjouterAutomatique2EditDlg -->
        <h:form>         
            <p:layout style="min-width:500px;min-height:300px; max-width:500px; max-height:300px" >
                <p:layoutUnit position="north" size="45" resizable="false" maxSize="45"  >
                    <h:outputText value=" #{langueBean.getMsg('alig.bran')} "/>
                    <h:outputText value= "#{selectedTerme.nom}" style="font-weight: bold"/> 
                    <h:outputText value= " #{langueBean.getMsg('alig.cnt')}" />
                    <h:outputText value= "#{alignementparlot.listOfChildrenInConcept.size()} " style="font-weight: bold" />
                    <h:outputText value="#{langueBean.getMsg('alig.concept')}."/>     
                </p:layoutUnit>

                <p:layoutUnit position="west" resizable="false" size="300" minSize="200" maxSize="300">
                    <h:outputText value="#{langueBean.getMsg('alig.metho')} "/>
                    <p:commandButton id="imageBtn" styleClass="cbEdit" icon="ui-icon-question"  />
                        <p:overlayPanel id="imagePanel" for="imageBtn" hideEffect="fade">
                            <h:outputText value="#{langueBean.getMsg('alig.expl1')}" /><br/>
                            <h:outputText value="#{langueBean.getMsg('alig.expl2')}" /><br/>
                            <h:outputText value="#{langueBean.getMsg('alig.expl3')}" /><br/>
                        </p:overlayPanel>
                    <br/>
                    <hr/>
                    <br/>
                    <center>
                        <p:selectOneRadio id="city" value="#{alignementparlot.optionOfAlignement}"  layout="grid" columns="1">
                            <f:selectItems value="#{alignementparlot.options.entrySet()}" var="c" itemLabel="#{c.value}" itemValue="#{c.key}" />

                        </p:selectOneRadio>
                    </center>
                </p:layoutUnit>
                <p:layoutUnit position="center" resizable="false" size="200" minSize="250" maxSize="200">
                    <h:outputText value="#{langueBean.getMsg('file.info1.2')}:" /><br/>
                    <hr/>
                    <br/>
                    <center>
                        <p:selectOneRadio id="alignementSources"  value="#{selectedTerme.selectedAlignement}" layout="grid" columns="1">
                            <f:selectItems value="#{selectedTerme.alignementSources}" var="alig" itemLabel="#{alig.source}" itemValue="#{alig.source}"/>
                        </p:selectOneRadio>
                    </center>
                </p:layoutUnit>
            </p:layout> 
            <br/>
            <p:commandButton id="cbAjAlignAuto" value="#{langueBean.getMsg('conf.btnValid')}"
                             actionListener="#{alignementparlot.getPreliereElement(selectedTerme.idC, selectedTerme.idTheso, user1.user.id)}" styleClass="styleButton"
                             update=":idAjouterParLot_suiteEditDlg"  oncomplete="PF('ajouterParLot_suiteEditDlg').show(); PF('ajouterParLotEditDlg').hide(); "/>
        </h:form>                                                
    </p:dialog>
</ui:composition>