<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui">


    <p:dialog id="idAjouterParLot_suiteEditDlg"  header="#{langueBean.getMsg('index.alignBtn2')}" widgetVar="ajouterParLot_suiteEditDlg" modal="true" resizable="false" >
        <!-- Ajouter alignement automatique -->
        <h:form rendered="#{!alignementparlot.fin}">
            <p:layout style="min-width:800px;min-height:400px; max-width:800px; max-height:400px" >
                <p:layoutUnit position="west" resizable="false" size="400" minSize="400" maxSize="550">
                    <table>

                        <tr>
                            <td>
                                <p:selectOneRadio value="#{alignementparlot.uriSelection}" layout="grid" columns="1" plain="true" >
                                    <td>
                                        <f:selectItems value="#{selectedTerme.listAlignValues}" var="nodeAlign"
                                                       itemLabelEscaped="false"
                                                       itemLabel="#{nodeAlign.concept_target_bold} : #{nodeAlign.uri_target_url} &lt;br/&gt;
                                                       #{nodeAlign.def_target}&lt;hr&gt;"
                                                       itemValue="#{nodeAlign.uri_target}" />  
                                        
                                        </td> 
                                    
                                </p:selectOneRadio>


                            </td>
                        </tr>

                    </table>

                </p:layoutUnit>

                <p:layoutUnit position="center" resizable="false" size="250" minSize="250" maxSize="250">

                    <h:outputText value=" #{langueBean.getMsg('alig.dlg1')}" style="float: left"
                                  />
                    <br/> <h:outputText  rendered="#{alignementparlot.first}" 
                                    value="#{alignementparlot.nomduterm}" style="font-weight: bold;" /> 
                    <h:outputText rendered="#{!alignementparlot.first}" 
                                  value="#{alignementparlot.nomduterm}" style="font-weight: bold;" /> <br/>
                    <hr/>
                    <br/>
                    <h:outputText value="#{langueBean.getMsg('alig.dlg2')}&#160; " style="float: left"/>
                    <p:selectBooleanCheckbox value="#{alignementparlot.addDefinition}" style="float: left"/><br/>
                    <hr/>
                    <br/>
                    <h:outputText value="#{langueBean.getMsg('alig.dlg3')}&#160;" style="float: left"/>
                    <h:inputText value="#{alignementparlot.uri_manual}" style="float: left" /><br/><br/>
                    <hr/>

                    <br/>
                    <h:outputText value="#{langueBean.getMsg('alig.dlg4')}&#160; " style="float: left" />
                    <h:selectOneMenu value="#{alignementparlot.alignement_id_type}" styleClass="listes" style="width: 150px; float: left">
                        <f:selectItems value="#{selectedTerme.allALignType}" var="tt" itemLabel="#{tt.value}" itemValue="#{tt.key}" />
                    </h:selectOneMenu><br/><br/>
                    <hr/><br/>

                    <p:commandButton id="finAllAlignAuto" value="#{langueBean.getMsg('alig.fin')}" 
                                     action="#{alignementparlot.enregister_Des_Progres(user1.user.id)}"
                                     update=":panContenu" styleClass="styleButton" oncomplete="PF('ajouterParLot_suiteEditDlg.hide()';"  />
                    &#160;
                    <p:commandButton rendered="#{!alignementparlot.fin}" id="ajouterAllAlignAuto" value="#{langueBean.getMsg('conf.btnValid')}" 
                                     action="#{alignementparlot.addAlignement()}"
                                     update=":idAjouterParLot_suiteEditDlg" 
                                     oncomplete="PF('ajouterParLot_suiteEditDlg').show();" styleClass="styleButton" />
                    &#160;
                    <p:commandButton rendered="#{!alignementparlot.last}" id="proxAllAlignAuto" value="#{langueBean.getMsg('alig.sui')}"  
                                     actionListener="#{alignementparlot.nextPosition()}"
                                     update=":idAjouterParLot_suiteEditDlg" oncomplete="PF('ajouterParLot_suiteEditDlg').show();"
                                     styleClass="styleButton"  />

                    <br/>
                    <h:outputText value="#{alignementparlot.erreur}" style="color: red" />
                    <h:outputText value="#{alignementparlot.message}" style="color: green" escape="false"/>
                </p:layoutUnit>

            </p:layout>
        </h:form>
        <h:form rendered="#{alignementparlot.fin}">
            <br/><br/>
            <p:commandButton id="finAllAlignAutoFin" value="fini" actionListener="#{alignementparlot.reinitTotal()}"
                             action="#{alignementparlot.enregister_Des_Progres(user1.user.id)}"
                             update=":panContenu" styleClass="styleButton" oncomplete="PF('ajouterParLot_suiteEditDlg.hide()';"  />
            <br/><br/>
            <h:outputText value="#{gps.erreur}" style="color: red" />
            <h:outputText value="#{gps.message}" style="color: green" escape="false"/>
        </h:form>
    </p:dialog>
</ui:composition>
